@import "tailwindcss";

@theme {
  --animate-float: float 6s ease-in-out infinite;
  --animate-shine: shine 3s linear infinite;

  @keyframes float {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-10px);
    }
  }

  @keyframes shine {
    from {
      background-position: 0 0;
    }

    to {
      background-position: 200% 200%;
    }
  }
}

/* Custom Mesh Background */
.mesh-bg {
  background-color: #0f172a;
  background-image:
    radial-gradient(at 0% 0%, rgba(79, 70, 229, 0.4) 0px, transparent 50%),
    radial-gradient(at 100% 0%, rgba(236, 72, 153, 0.4) 0px, transparent 50%),
    radial-gradient(at 100% 100%, rgba(99, 102, 241, 0.4) 0px, transparent 50%),
    radial-gradient(at 0% 100%, rgba(139, 92, 246, 0.4) 0px, transparent 50%);
  background-size: 150% 150%;
  animation: mesh-move 15s ease infinite alternate;
}

@keyframes mesh-move {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}